@model Organizer.ViewModels.PlannerViewModel

@{
    ViewBag.Title = "CreateYearPlanner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">План на год</h2>
<input id="planner-id" type="hidden" value="@Model.Planner.Id" />


@if (Model.InboxGoals.Count > 0)
{
    <div class="category-list">
        <p class="category-name">Входящее:</p>
        <ul class="list">
            @foreach (var goal in Model.InboxGoals)
            {
                <li class="list-item" draggable="true" data-goalid=@goal.Id>@goal.Name</li>
            }
        </ul>
    </div>
}

<div id="planner">

</div>




@section scripts{
    <script>

        $(document).ready(function () {

            let plannerId = parseInt($('#planner-id').val());

            $.ajax({
                url: "/api/planner",
                data: { id: plannerId },
                method: "GET",
                success: function (response) {
                    for (var prop in response) {
                        var projectId = response[prop].projectId;
                        var category = response[prop].category;
                        var goals = response[prop].goals;

                        var div = $("<div class='category-list'>");
                        var p = $("<p class='category-name' data-projectId=" + projectId + ">" + category + ":</p>");
                        var ul = $("<ul class='list'>");
                        var input = $("<input class='add-input' placeholder='Добавить новую задачу'>");

                        for (var goal in goals) {
                            //var li = $("<li class='list-item' draggable='true' data-goalid=" + goals[goal].Id + ">" + goals[goal].Name + "</li>");
                            var li = $("<li class='list-item' draggable='true' data-goalid=" + goals[goal].Id + ">");
                            var span = $("<span class='goal-name'>")
                            var content = document.createTextNode(goals[goal].Name);

                            let checkbox = $("<input type='checkbox' class='goal-check' data-goalId=" + goals[goal].Id + ">");
                            let deleteBtn = $("<button class='btn btn-danger badge pull-right js-delete' data-goalId=" + goals[goal].Id + ">Delete</Button>")

                            var doneStatus = 3;
                            if (goals[goal].StatusId == doneStatus) {
                                checkbox.prop('checked', true);

                                li.css("border-left","3px solid green");

                            }
                            else {
                                checkbox.prop('checked', false);
                                li.css("border-left", "3px solid #fb2401");
                            }
                                

                            li.append(checkbox);
                            span.append(content)
                            li.append(span);
                            li.append(deleteBtn);
                            ul.append(li);
                        }

                        div.append(p);
                        div.append(ul);
                        div.append(input)
                        $('#planner').append(div);
                    }

                    MakeDraggable();
                    InitializeInputs();
                    InitializeCheckboxes();
                }
            });
        });

    </script>
}

