@model Organizer.ViewModels.PlannerViewModel

@{
    ViewBag.Title = "CreateYearPlanner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateYearPlanner</h2>
<input id="planner-id" type="hidden" value="@Model.Planner.Id" />


@if (Model.InboxGoals.Count > 0)
{
    <ul class="list">
        @foreach (var goal in Model.InboxGoals)
        {
            <li class="list-item" draggable="true">@goal.Name</li>
        }
    </ul>
}
else
{
    <p>Ibox пуст</p>
}


<h4>Контент планера: </h4>
<div id="planner">

</div>




@section scripts{
    <script>

        $(document).ready(function () {

            let plannerId = parseInt($('#planner-id').val());

            $.ajax({
                url: "/api/planner",
                data: { id: plannerId },
                method: "GET",
                success: function (response) {
                    for (var prop in response) {
                        var projectId = response[prop].projectId;
                        var category = response[prop].category;
                        var goals = response[prop].goals;

                        var div = $("<div>");
                        var p = $("<p data-projectId=" + projectId + ">" + category + "</p>");
                        var ul = $("<ul class='list'>");
                        var input = $("<input class='add-input'>");

                        for (var goal in goals) {
                            var li = $("<li class='list-item' draggable='true'>" + goals[goal].Name + "</li>");
                            ul.append(li);
                        }



                        div.append(p);
                        div.append(ul);
                        div.append(input)
                        $('#planner').append(div);
                    }

                    MakeDraggable();
                    InitializeInputs();
                }
            });


            function MakeDraggable() {
                
                const list_items = document.querySelectorAll('.list-item');
                const lists = document.querySelectorAll('.list');

                let draggedItem = null;

                for (let i = 0; i < list_items.length; i++) {
                    const item = list_items[i];

                    item.addEventListener('dragstart', function () {
                        draggedItem = item;

                        setTimeout(function () {
                            item.style.display = 'none';
                        }, 0);
                        
                    });

                    item.addEventListener('dragend', function () {
                        setTimeout(function () {
                            draggedItem.style.display = 'block';
                            draggedItem = null;
                        }, 0);
                    });

                    for (let j = 0; j < lists.length; j++) {
                        const list = lists[j];

                        list.addEventListener('dragover', function (e) {
                            e.preventDefault();
                        });

                        list.addEventListener('dragenter', function (e) {
                            e.preventDefault();
                            this.style.backgroudColor = 'rgba(0, 0, 0, 0.2)';
                        });

                        list.addEventListener('dragleave', function (e) {
                            e.preventDefault();
                            this.style.backgroudColor = 'rgba(0, 0, 0, 0.1)';
                        });

                        list.addEventListener('drop', function (e) {
                            this.append(draggedItem);
                            this.style.backgroudColor = 'rgba(0, 0, 0, 0.1)';
                        });
                    }
                }
            }

            function InitializeInputs() {
                const inputs = document.querySelectorAll('.add-input');

                for (let i = 0; i < inputs.length; i++) {
                    const item = inputs[i];

                    item.addEventListener('keyup', function (event) {
                        if (event.key === "Enter") {
                            event.preventDefault();
                            let div = item.parentElement;
                            let p = div.getElementsByTagName('p')[0];


                            let projectId = parseInt(p.dataset.projectid);
                            let name = item.value;

                            $.ajax({
                                url: "/api/planner/",
                                data: { plannerId: plannerId, projectId: projectId, goalName: name },
                                method: "POST",
                                success: function () {
                                    var li = $("<li class='list-item' draggable='true'>" + name + "</li>");
                                    let ul = div.getElementsByTagName('ul')[0];
                                    $(ul).append(li);
                                }
                            });
                            
                            item.value = "";
                        }
                    });
                }
            }

        });

    </script>
}

