@{
    ViewBag.Title = "Home Page";
}

<div class="planners-main">
    <div class="planner col-md-3">
        <p>Годовой</p>
        <a class="col-md-6 col-xs-6 col-lg-6 col-sm-6" href="/planner/year-planner/all">Все</a>
        <a class="col-md-6 col-xs-6 col-lg-6 col-sm-6" href="/planner/year-planner">Текущий</a>
    </div>
    <div class="planner col-md-3">
        <p>Месячный</p>
        <a class="col-md-6 col-xs-6 col-lg-6 col-sm-6" href="/planner/month-planner/all">Все</a>
        <a class="col-md-6 col-xs-6 col-lg-6 col-sm-6" href="/planner/month-planner">Текущий</a>
    </div>
    <div class="planner col-md-3">
        <p>Недельный</p>
        <a class="col-md-6 col-xs-6 col-lg-6 col-sm-6" href="/planner/week-planner/all">Все</a>
        <a class="col-md-6 col-xs-6 col-lg-6 col-sm-6" href="/planner/week-planner">Текущий</a>
    </div>
    <div class="planner col-md-3">
        <p>Дневной</p>
        <a class="col-md-6 col-xs-6 col-lg-6 col-sm-6" href="/planner/day-planner/all">Все</a>
        <a class="col-md-6 col-xs-6 col-lg-6 col-sm-6" href="/planner/day-planner">Текущий</a>
    </div>
</div>




